.btn-refresh-graph {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-refresh-graph.animate-click {
    background-color: #28a745;
}

.btn-refresh-graph.animate-click:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    margin-left: 10px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fa-spin {
    animation: spin 1s infinite linear;
}

.button-click-animation {
    animation: buttonClick 50ms;
    transform-origin: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}